In [1]:
import json

In [2]:
import pandas as pd

In [4]:
movies="C:\data-sc\movies\movies.json"

In [5]:
movies_data = pd.read_json(movies)

In [6]:
movies_data.head()

,movie rank,rating,release year,title,url
0,1,9.2,(1994),The Shawshank Redemption,http://imdb.com/title/tt0111161/?pf_rd_m=A2FGE...
1,2,9.2,(1972),The Godfather,http://imdb.com/title/tt0068646/?pf_rd_m=A2FGE...
2,3,9.0,(1974),The Godfather: Part II,http://imdb.com/title/tt0071562/?pf_rd_m=A2FGE...
3,4,9.0,(2008),The Dark Knight,http://imdb.com/title/tt0468569/?pf_rd_m=A2FGE...
4,5,8.9,(1957),12 Angry Men,http://imdb.com/title/tt0050083/?pf_rd_m=A2FGE...

In [10]:
print movies_data.mean(0)

movie rank    125.500
rating          8.262
dtype: float64